<?xml version="1.0" encoding="iso-8859-1"?>
<Framework>
    <Databases>
        <DataBase DataSource="KADB01" UserID="sa" Password="kalunga" InitialCatalog="DB_SITE" CommandTimeout="30" ConnectTimeout="15" />
        <DataBase DataSource="KADB02" UserID="sa" Password="kalunga" InitialCatalog="DB_SITE" CommandTimeout="30" ConnectTimeout="15" />
	</Databases>
</Framework>